* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Home{
    background-color: #FFF9F7;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.about-left{
    padding: 50px 0 0 50px;
}
.about-left h1{
    color: #9D4E6D;
}
.about-left p{
    color: #5A4A50;
    padding-top: 15px;
}
.about-left .about-btn{
    margin-top: 20px;
    padding: 8px 19px;
    border-radius: 4px;
    background: #8F3D50;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}
.about-left .about-btn:hover {
    background: #C97C86;
}
.about-right img{
    width: 600px;
}








.statistics{
    margin-top: 10px;
    background-color:  #fdf0f4;
    border-radius: 10px;
}
.statistics ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.statistics ul li{
    width: 200px;
    align-items: center;
    text-align: center;
    list-style: none;
    color: #8F3D50;
    padding: 15px 20px;

}
.statistics ul li p{
    padding-top: 2px;
    color: #5A4A50;
}






.service{
    padding: 40px 20px;
}
.service h1{
    color: #9D4E6D;
    text-align: center;
}

.service-cards{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.service-cards .card{ 
    margin-top: 25px;
    border-radius: 4px;

    box-shadow: 2px 20px 30px rgba(157, 78, 109, 0.08);
}
.service-cards .card .card-body{
    padding: 20px;
}

.service-cards .card .card-body h5{
    font-size: 18px;
    color: #8F3D50;
}
.service-cards .card .card-body p{
    font-size: 14px;
    color: #5A4A50;
    padding: 8px 0;
}



.service-cards .card .card-btn{
    padding: 8px 10px;
    margin-top: 6px;

    border-radius: 4px;
    border: none;

    background-color: #8F3D50;
    color: white;
}
.service-cards .card .card-btn:hover{
    background-color: #C97C86;
}